{% extends 'base.html' %}

{% block title%} Inicio{%endblock%}

{% block content%}
<div class="container-sm text-center">
    <h1 class="display-3">Pagina de inicio</h1>

    <p class="lead">En esta app puedes llevar un registro de todas tus tareas y tener una vista general de tus
        responsabilidades</p>

    <hr class="my-4">

    <p>¿Tienes un cuenta activa?</p>

    <div class="d-flex justify-content-center">
        <a href="{{url_for('auth.login')}}" class="btn btn-primary mx-2">Iniciar Sesión</a>
        <a href="{{url_for('auth.regUser')}}" class="btn btn-secundary mx-2">Registrarse</a>


    </div>
</div>



{%endblock%}